name: Build

on: [push, pull_request, workflow_dispatch]

jobs:
  build:
    runs-on: ubuntu-latest
    container:
      image: zmkfirmware/zmk-build-arm:stable
    name: Build
    steps:
      - name: Checkout
        uses: actions/checkout@v4
      - name: Cache west modules
        uses: actions/cache@v4
        env:
          cache-name: cache-zephyr-modules
        with:
          path: |
            modules/
            tools/
            zephyr/
            bootloader/
            zmk/
          key: ${{ runner.os }}-build-${{ env.cache-name }}-${{ hashFiles('config/west.yml') }}
          restore-keys: |
            ${{ runner.os }}-build-${{ env.cache-name }}-
            ${{ runner.os }}-build-
            ${{ runner.os }}-
      - name: West Init
        run: west init -l config
      - name: West Update
        run: west update
      - name: West Zephyr export
        run: west zephyr-export
      - name: West Build (tiny20_left)
        run: west build -s zmk/app -b xiao_ble -- -DSHIELD=tiny20_left -DZMK_CONFIG="${GITHUB_WORKSPACE}/config"
      - name: Rename tiny20_left artifact
        run: cp build/zephyr/zmk.uf2 xiao_ble-tiny20_left.uf2
      - name: West Build (tiny20_right)
        run: west build --pristine -s zmk/app -b xiao_ble -- -DSHIELD=tiny20_right -DZMK_CONFIG="${GITHUB_WORKSPACE}/config"
      - name: Rename tiny20_right artifact
        run: cp build/zephyr/zmk.uf2 xiao_ble-tiny20_right.uf2
      - name: Archive artifacts
        uses: actions/upload-artifact@v4
        with:
          name: firmware
          path: |
            xiao_ble-tiny20_left.uf2
            xiao_ble-tiny20_right.uf2
